//===----------------------------------------------------------------------===//
//
// This source file is part of the Swift.org open source project
//
// Copyright (c) 2020 Apple Inc. and the Swift project authors
// Licensed under Apache License v2.0 with Runtime Library Exception
//
// See http://swift.org/LICENSE.txt for license information
// See http://swift.org/CONTRIBUTORS.txt for the list of Swift project authors
//
//===----------------------------------------------------------------------===//

#include "../Config/overlay-shared.xcconfig"

PRODUCT_NAME = Foundation
SWIFT_VERSION = 5.0
OTHER_LDFLAGS = $(inherited) -framework Foundation

// Shims are helper declarations that are only needed to compile the
// implementation of this overlay. They are defined in a headers-only module
// in the project folder that isn't installed anywhere.
SWIFT_INCLUDE_PATHS = $(inherited) shims

// Aggravating special case: we need to add shims to the system header search
// path, so that NSUInteger gets imported as Int, not UInt. The shims originally
// shipped in the SDK, so they were written to depend on this. (c.f. rdar://17473606)
SYSTEM_HEADER_SEARCH_PATHS = $(inherited) shims

// Use 0.0.0 as the version number for development builds.
CURRENT_PROJECT_VERSION = 0.0.0
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
MODULE_VERSION = $(CURRENT_PROJECT_VERSION)
