//===----------------------------------------------------------------------===//
//
// This source file is part of the Swift.org open source project
//
// Copyright (c) 2020 Apple Inc. and the Swift project authors
// Licensed under Apache License v2.0 with Runtime Library Exception
//
// See http://swift.org/LICENSE.txt for license information
// See http://swift.org/CONTRIBUTORS.txt for the list of Swift project authors
//
//===----------------------------------------------------------------------===//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_IS_OVERLAY = YES

SWIFT_VERSION = 5.0
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator

// TAPI needs to be told about the magic-symbols-for-install-name header.
OTHER_TAPI_FLAGS = $(inherited) -extra-public-header $(SRCROOT)/$(PRODUCT_NAME)-swiftoverlay/magic-symbols-for-install-name.h

// Pass the module link name to C/C++ files; this is needed to generate the
// magic install name symbols for overlays that existed in Swift 5.0.
GCC_PREPROCESSOR_DEFINITIONS = SWIFT_TARGET_LIBRARY_NAME=$(SWIFT_MODULE_LINK_NAME)

// We need to generate swiftmodules for these architectures, so that they can be
// imported in apps that are deployable on OS versions that support them.
// However, we can only generate module files for these; we can't emit binaries.
// (All imported definitions will be unavailable on these older OS versions.)
SWIFT_MODULE_ONLY_IPHONEOS_DEPLOYMENT_TARGET = 10.3
SWIFT_MODULE_ONLY_ARCHS_iphoneos = armv7 armv7s
SWIFT_MODULE_ONLY_ARCHS_iphonesimulator = i386
SWIFT_MODULE_ONLY_ARCHS = $(SWIFT_MODULE_ONLY_ARCHS_$(PLATFORM_NAME))

// Custom settings specific for the Foundation overlay
OTHER_SWIFT_FLAGS = $(inherited) -Xllvm -sil-inline-generics -Xllvm -sil-partial-specialization
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = NO
